[package]
name = "vellum-core"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
path = "src/lib.rs"

[dependencies]
ropey.workspace = true

[dev-dependencies]
